@import 'landing';
@import 'login';
@import 'dashboard';
@import 'buttons';
//@import 'statistics';

html,
body {
    font-family: "Roboto", serif;
    background-image: url("../images/bg.png");
    color: $black;
}

.subscriber-access-icon {
    color: $primary;
    margin: 0 5px;

    &:hover {
        color: $black;
    }
}