@import 'landing';
@import 'login';
@import 'dashboard';
@import 'buttons';

html,
body {
    font-family: "Roboto", serif;
    color: $black;
}

.subscriber-access-icon {
    color: $primary;
    margin: 0 5px;

    &:hover {
        color: $black;
    }
}

.columns {
    height: max-content;
}

.statistics {
    padding: 50px;
}