.is-primary {
  background-color: #624cc1 !important;
}

.colour-primary {
  color: #624cc1 !important;
}

.is-contrast {
  background-color: #00d1b2 !important;
  border: #00d1b2 !important;
}

.colour-contrast {
  color: #00d1b2 !important;
}

.btn-contrast:hover {
  background-color: #02c7a9 !important;
}

.is-black {
  background-color: #06040c !important;
}

.colour-black {
  color: #06040c !important;
}

.colour-white {
  color: #ffffff !important;
}

.headingFont,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

.navbar-logo {
  padding: 15px 0;
}

.hero {
  background-image: url(/images/hero.jpg?632f94d0f4295743e8cc338741ccd441);
  background-position: center;
  background-size: cover;
}

.hero-head {
  padding: 30px 15px;
}

@media screen and (min-width: 1216px) {
  .hero-head {
    padding: 30px 0;
  }
}

.nav-item:hover {
  background-color: rgba(255, 255, 255, 0.2) !important;
}

.hero-body .container {
  max-width: 700px;
}

.hero-body .title {
  color: #ffffff;
}

.hero-body .subtitle {
  color: #ffffff;
  padding-top: 2rem;
  line-height: 1.5;
}

.features {
  padding: 5rem 0;
}

.box.cta {
  border-radius: 0;
  border-left: none;
  border-right: none;
}

.card-image > .fa {
  font-size: 8rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #624cc1;
}

.card-content .content {
  font-size: 14px;
  margin: 1rem 1rem;
}

.card-content .content h4 {
  font-size: 16px;
  font-weight: 700;
}

.card {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
  margin-bottom: 2rem;
}

.intro {
  padding: 5rem 15px 5rem 15px;
  text-align: center;
}

@media screen and (min-width: 1216px) {
  .intro {
    padding: 5rem 0;
  }
}

.tile.notification {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.is-shady {
  -webkit-animation: flyintoright 0.4s backwards;
          animation: flyintoright 0.4s backwards;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0;
  border-radius: 4px;
  display: inline-block;
  margin: 10px;
  position: relative;
  transition: all 0.2s ease-in-out;
}

.is-shady:hover {
  box-shadow: 0 10px 16px rgba(0, 0, 0, 0.13), 0 6px 6px rgba(0, 0, 0, 0.19);
}

.footer {
  background-color: #624cc1;
}

.footer a {
  color: #ffffff !important;
}

.hero.is-bold .navbar-menu {
  background: transparent;
  box-shadow: none;
}

.info-tiles {
  margin: 1rem 0;
  padding: 0 15px 5rem 15px;
}

@media screen and (min-width: 1216px) {
  .info-tiles {
    padding: 0 0 5rem 0;
  }
}

.info-tiles .subtitle {
  font-weight: 300;
  color: #8f99a3;
}

.is-primary {
  background-color: #624cc1 !important;
}

.colour-primary {
  color: #624cc1 !important;
}

.is-contrast {
  background-color: #00d1b2 !important;
  border: #00d1b2 !important;
}

.colour-contrast {
  color: #00d1b2 !important;
}

.btn-contrast:hover {
  background-color: #02c7a9 !important;
}

.is-black {
  background-color: #06040c !important;
}

.colour-black {
  color: #06040c !important;
}

.colour-white {
  color: #ffffff !important;
}

.headingFont,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

.hero.is-success {
  background: #eff3f4;
}

.avatar {
  margin-top: -70px;
  padding-bottom: 20px;
}

.avatar img {
  padding: 5px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
}

input {
  font-weight: 300;
}

p {
  font-weight: 700;
}

p.subtitle {
  padding-top: 1rem;
}

.invalid-feedback {
  color: #f85167;
}

.is-invalid {
  border-color: #f85167;
}

#loginPage .form-container {
  margin-top: 5rem;
}

html,
body {
  background: #eff3f4;
  font-family: "Roboto", serif;
  color: #06040c;
}

